%ul.categories
	- @categories.each do |category|
		%li= link_to category.name, category_items_path(category)
おすすめ
%ul.recommended
	- @recommended_items.each_with_index do |item, i|
		- if i < 5
			%li= item.name
		- else
			= link_to 'オススメ一覧', '/items/recommended'
			- break